{% extends "navigation_base.html" %}
 {% block title %}GwasKB - About{% endblock %}
{% block navcontent %}

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About GwasKB</h2>
                    <hr class="primary">
                    <p>
                        We have built an information extraction system called GwasKB that parses the biomedical literature to automatically extract associations between disease and genomic mutations that have been discovered via genome-wide association studies (GWAS) of large case/control cohorts. The resulting database has been made accessible through this interactive website. Go to https://github.com/kuleshov/gwaskb for more detail.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}  
